*.pdf
*.zip
Events-170301/

Java/*.class

DataFilter/target
DataFilter/output

SizeClassification/output

*.class
DataFilter/.classpath
DataFilter/.project
DataFilter/*.class

DataGenerator/bin/.project

DataFilter/target/DataCollector.class

DataFilter/target/Filter.class
